@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
